*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.o
*.prof
.cabal-sandbox/
.cabal-sandbox/
.hpc
.hsenv
.stack-work
.stack-work/
cabal-dev
cabal.config
cabal.sandbox.config
cabal.sandbox.config
cabal.project.local
dist
/dist-newstyle/
