version: 2

workflows:
  version: 2
  simple-workflow:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/

jobs:
  build:
    docker:
      - image: 'fpco/stack-build:latest'

    steps:
      - checkout
      - restore_cache:
          key: 'v2-stylish-haskell-{{ arch }}-{{ .Branch }}'
      - run:
          name: 'Build, install, test'
          command: 'stack build --test --copy-bins --jobs=1'
      - save_cache:
          key: 'v2-stylish-haskell-{{ arch }}-{{ .Branch }}-{{ .Revision }}'
          paths:
            - '~/.stack-work'
            - '~/.stack'
      - run:
          name: 'Upload release'
          command: '.circleci/release.sh "$CIRCLE_TAG"'
